.nav {
    position: relative;
    display: flex;
    background-color: var(--color-bg);
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);

}

.container {
    position: absolute;
    left: 50%;
   text-decoration: none;
   display: flex;
   box-shadow: 0px 10px 20px -3px rgba(0, 0, 0, 0.1);
   background-color: transparent;
   position: relative;
   border-radius: 100px;
   justify-content: space-between;
   top: 0;
   left: 0;
   color: var(--color-text);

}
.tabs {
    /* display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 150px;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none;*/
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-primary);
    color: var(--color-text);
    font-size: 2rem;
    border: none;
    border-radius: 10px;
    border: 2px solid var(--color-shadow);
    box-shadow: 3px 3px var(--color-shadow);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.logoutbutton{
    position: absolute;
    right: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 45px;
    height: 45px;
    border: 2px solid var(--color-shadow);
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.5s;
    box-shadow: 3px 3px var(--color-shadow);
    background-color: var(--color-primary);
    /* padding: 10px 20px;
    
    color: var(--color-text);
    font-size: 2rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s; */
}
.sign{
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;

}
.sign .svg{
    width: 80px;
}

.text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--color-text);;
    font-size: 2rem;
    font-weight: 400;
    transition-duration: .5s;
  }
.logoutbutton:hover{
    width: 125px;
    border-radius: 40px;
    background-color: var(--color-contrast);
    box-sizing: content-box;
}
.logoutbutton:hover .sign{
    width: 30%;
    transition-duration: 0.5s;
    padding-left: 20px;
}
.logoutbutton:hover .text{
    opacity: 1;
    width: 70%;
    transition-duration: .5s;
    padding-right: 10px;
}
.tabs:hover{
    background-color: var(--color-contrast)
}
.s{
    color: #e1f5c4;
}
.activeLink .tabs{
    
    transform: scale(0.80);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: var(--color-contrast);
    box-sizing: content-box;
}
.searchbar{
    position: absolute;
    right: 0px;
}