.searchbar{
    position: absolute;
    left: 40px;
    background-color: transparent;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    transition: width 5s ease-in-out;
    font-size: 1.6rem;
}

.input{
    height: 40px;
    border-radius: 20px;
    border: 2px solid;
    width: 50px;
    font-size: 2rem;
    padding: 10px;
    /* transition: width 5s ease-in-out; */

}

.input:focus{
    width: 300px;
    transition: 2s;
}

.button{
    padding: 10px 20px;
    font-size: 2rem;
    border: none;
    border-radius: 40px;
    color: var(--color-text);
    background-color: var(--color-primary);
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    cursor: pointer;
}

.button:hover {
    animation: squeeze3124 0.9s both;
    background-color: var(--color-contrast);
  }
  
  @keyframes squeeze3124 {
    0% {
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
    }
   
    30% {
     -webkit-transform: scale3d(1.25, 0.75, 1);
     transform: scale3d(1.25, 0.75, 1);
    }
   
    40% {
     -webkit-transform: scale3d(0.75, 1.25, 1);
     transform: scale3d(0.75, 1.25, 1);
    }
   
    50% {
     -webkit-transform: scale3d(1.15, 0.85, 1);
     transform: scale3d(1.15, 0.85, 1);
    }
   
    65% {
     -webkit-transform: scale3d(0.95, 1.05, 1);
     transform: scale3d(0.95, 1.05, 1);
    }
   
    75% {
     -webkit-transform: scale3d(1.05, 0.95, 1);
     transform: scale3d(1.05, 0.95, 1);
    }
   
    100% {
     -webkit-transform: scale3d(1, 1, 1);
     transform: scale3d(1, 1, 1);
    }
   }