.App {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  height: 100vh;
  /* background-image: url(https://images4.alphacoders.com/936/936813.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed */
}
